.App {
  padding: 30px;
  display: flex;
  justify-content: center;
}
ul {
  padding: 0;
}

.App > div {
  margin-right: 50px;
}

.task-done{
  text-decoration: line-through;
}

.task-doneOf{
  opacity: .5;
}

.btn-actve{
  color: black;
  background-color: aqua;
  border-radius: 3px;
  border: 1px solid #ff0000;
}

.btn-actve:focus{
  border: 1px solid #575353;
}

.error-input{
  border: 1px solid red;
  box-sizing: border-box;
}

.errorRe{
  color: red;
}

.todolist-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todolist-title button{
  height: 25px;
}

.todolist-title h3 {
 margin: 2px 0;
}

.material-b {
  background: red;
}

.todolist-tasks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(25, 118, 210, 0.89);
  color: #add5f8;
}

.footer a{
  color: #541010;
}

.footer-line{
  position: absolute;
  width: 100%;
  bottom: 10px;
  height: 2px;
  background: aliceblue;
}

.super-input{
  margin-bottom: 20px;
}.super-input button{
   margin-top: 20px;
}